:root{
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0, 0 ,0 / 0.5);
}
body{
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  min-height: 2000px;
  color: white;
}

.hero{
  min-height: 100vh;
  background-image: url('img/prewweding.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hero h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: white;
}

.hero p {
  font-size: 1.4rem;
  color: white;
}

.hero a {
  color: var(--pink);
  background-color: white;
}

.hero a:hover{
  background-color: var(--pink);
  color: white;
}